@mixin breakpoint-up {
    @media screen and (min-width: $mobile-size-breakpoint) {
        @content;
    }
}

$mobile-size-breakpoint: 768px;

$main-green-color: #00600c;

$transition-timing: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
