@import "src/styles/variables";

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoSpan {
    opacity: 0;
    @include breakpoint-up {
        font-size: 18px;
        line-height: 1.444;
        color: #013507;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Righteous;
        font-size: 25px;
        opacity: 1;
    }
}
